/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body, p {
    color: $main-text-color;
}

.apartment{
    color: #a72da3
}

.condo {
    color: #d68000
}

.house {
    color: #bf1818
}

.clickable {
    cursor: pointer;
}

.btn-bwn{
    background-color: $main-color;
    border-color: $main-color;
    color: white;
    padding: 15px 30px;
    font-size: 20px !important;

    &:hover, &:focus, &:active {
        border-color: $main-color !important;
        background-color: $main-color !important;
    }
}

.bwm-form {
    color: $main-text-color;

    form {
        margin-bottom: 10px;
    }

    .alert {
        p{
            margin: 0; 
        }
    }
}
