<div *ngIf="currentRental">
    <p>id: {{currentRental.id}}</p>
    <p>title: {{currentRental.title}}</p>
    <p>city: {{currentRental.city}}</p>
    <p>street: {{currentRental.street}}</p>
    <p>category: {{currentRental.category}}</p>
    <p>image: {{currentRental.image}}</p>
    <p>bedrooms: {{currentRental.bedrooms}}</p>
    <p>description: {{currentRental.description}}</p>
    <p>rate: {{currentRental.dailyRate}} $</p>
    <p>shared: {{currentRental.shared}}</p>
    <p>createdAt: {{currentRental.createdAt}}</p>
</div>